#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide overflowing content during transition */
  background-color: #2d2d2d; /* Set background color to grey */
}

#navigation-container:hover {
  width: 15%;
}

/* Ensure icons have enough space between them */
#navigation-container .flex {
  margin-bottom: 20px; /* Space between icons */
}

/* Remove nav-item-name related styles since we no longer use them */
.nav-item-name {
  display: none;
}

/* Adjust the space for dropdown and login/register links */
#navigation-container .relative {
  margin-top: auto;
}

/* Remove search related styles if not used */
.search-input {
  display: none;
}

.search-icon {
  display: none;
}
